@CHARSET "UTF-8";
.left_menu{border: 1px solid #9999cc;margin-bottom: 10px;font-size:13px;}
.menu_title{background: #F1F5F6;padding: 7px;font-weight: bold;font-size:15px;}

.border{border:#f1f5f6 1px solid}

.content{margin-top: 10px;}